@import _reset

//media query
$breakpoint-tablet: 980px
$breakpoint-mobile: 640px

=max-screen($break-point)
    @media screen and (max-width: $break-point)
        @content

=min-screen($break-point)
    @media screen and (min-width: $break-point)
        @content

=screen($break-point-min, $break-point-max)
    @media screen and (min-width: $break-point-min) and (max-width: $break-point-max)
        @content

//colors
$black: #000
$deepGray: #555
$lightGray: #888
$blue: #00F
$accent: $blue
$accent2: rgb(255, 0, 183)
$white: #fff
$offWhite: #aaa

//margins
$basic_margin: 4vw
$font-large: 48px
$font-middle: 30px
$font-text: 18px

//basic
body
    background-color: $white
    color: $lightGray
    font-size: $font-text
    font-family: sans-serif
    line-height: 1.4

.contents--wrapper
    max-width: 800px
    margin: $basic-margin auto
    overflow: hidden

a
    color: $deepGray
    text-decoration: none
    transition: 50ms
    font-weight: bold

a:hover
    color: $accent
    transition: 50ms
    text-decoration: underline

img
    max-width: 100%

article
    margin: 0 auto

nav.navbar
    display: none

.more-link
    text-align: right
    margin-right: $basic-margin
    margin-top: $basic-margin
    display: block
    transition: 100ms ease-out
.more-link:hover
    margin-right: 0
    transition: 100ms ease-in

.date
    font-size: $font-text
    color: $lightGray
    a
        display: inline-block
        margin-right: $font-text/2
        color: $offWhite

//name card
.name-card
    border-left: 1px solid $accent
    padding: $basic-margin
    margin: $basic-margin 0

    h1
        font-size: $font-large
        padding: 0 0 $basic-margin
    
    ul
        padding-left: $basic-margin
        font-size: $font-text

// projects

$blur-size: 10px

.box-wrapper
    display: flex
    flex-direction: row
    overflow: scroll

.square-box
    width: 30vw
    height: 30vw
    background-size: cover
    position: relative
    z-index: 0
    overflow: hidden
    margin-right: $basic-margin / 2

    display: flex
    align-items: center
    justify-content: center

    +max-screen($breakpoint-mobile)
        width: 45vw
        height: 45vw

    .square-box--text
        color: $deepGray
        text-align: center
        font-size: $font-middle
        font-weight: bold

        filter: blur(0)
        opacity: 1
        transition: 30ms ease-out

        +max-screen($breakpoint-tablet)
            font-size: $font-text




.square-box:hover
    border: 1px $blue solid
    .square-box--text
        filter: blur($blur-size)
        opacity: 0
        transition: 500ms ease-out



.square-box::before
    content: ""
    position: absolute
    z-index: -1

    // 輪郭がぼやけてしまうのでブラー範囲を広げる
    top: -2 * $blur-size
    bottom: -2 * $blur-size
    left: -2 * $blur-size
    right: -2 * $blur-size
    background: inherit
    filter: brightness(400%) blur($blur-size) 
    transition: 100ms ease-out

.square-box:hover::before
    transition: 300ms ease-out
    filter: brightness(150%) blur(0) 


// Links
.links-wrapper
    padding: $basic-margin 0

.link
    margin: $basic-margin 0
    padding: $basic-margin 0


    .link--title
        font-size: $font-middle
        color: $deepGray
        padding: $basic-margin/2   0
    
    .description
        font-size: $font-text
        color: $lightGray
        margin-left: $basic-margin 


    
section
    padding: 0 ($basic_margin / 2) ($basic_margin / 2)

    .wrapper
        display: flex
        flex-wrap: wrap
        justify-content: center
        background-color: $lightGray

    .cell
        display: block
        background-color: $white
        width: 40%
        padding: $basic-margin / 2
        margin: $basic-margin / 2

        +max-screen($breakpoint-mobile)
            width: 100%


        p
            color: $offWhite
            font-size: 0.5em
            text-align: left

dt
    line-height: 0.6em
    color: $offWhite
    font-size: 0.5em
    text-align: left
    margin-top: 1em

dl
    line-height: 1.5em
    font-weight: normal

footer
    margin-top: $basic_margin
    background-color: $deepGray
    text-align: center

    strong
        +max-screen($breakpoint-mobile)
            font-size: 0.5em
